.details-main-container {
  height: 100vh;
  width: 100%;
  background-color: #e6ecf0;
}
.details-page-header {
  width: 100%;
  height: 108px;
}
.bread-scrum-container {
  height: 48px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}
.title-content {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 30px;
  background-color: #fff;
  height: 68px;
}
.content-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.details-row {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #fff;
  border-radius: 10px;
  row-gap: 10px;
}
.detail-head {
  text-align: start;
  font-weight: 500;
  font-size: 12px;
}
.detail-data {
  text-align: start;
  font-weight: 400;
  font-size: 14px;
}
.custom-row {
  height: 48px;
  font-size: 12px;
  border-bottom: #e1e4e9;
}
.ant-table-thead > tr > th {
  font-size: 14px !important;
  font-weight: 500 !important;
  height: 48px !important;
  border-bottom: 1px solid #e1e4e9;
}
.ant-table {
  font-family: "Commissioner", sans-serif !important;
}
